![Two data scientists working on a dashboard.](hr-image-small.png)

A common problem when creating models to generate business value from data is that the datasets can be so large that it can take days for the model to generate predictions. Ensuring that your dataset is stored as efficiently as possible is crucial for allowing these models to run on a more reasonable timescale without having to reduce the size of the dataset.

You've been hired by a major online data science training provider called *Training Data Ltd.* to clean up one of their largest customer datasets. This dataset will eventually be used to predict whether their students are looking for a new job or not, information that they will then use to direct them to prospective recruiters.

You've been given access to `customer_train.csv`, which is a subset of their entire customer dataset, so you can create a proof-of-concept of a much more efficient storage solution. The dataset contains anonymized student information, and whether they were looking for a new job or not during training:

| Column                   | Description                                                                      |
|------------------------- |--------------------------------------------------------------------------------- |
| `student_id`             | A unique ID for each student.                                                    |
| `city`                   | A code for the city the student lives in.                                        |
| `city_development_index` | A scaled development index for the city.                                         |
| `gender`                 | The student's gender.                                                            |
| `relevant_experience`    | An indicator of the student's work relevant experience.                          |
| `enrolled_university`    | The type of university course enrolled in (if any).                              |
| `education_level`        | The student's education level.                                                   |
| `major_discipline`       | The educational discipline of the student.                                       |
| `experience`             | The student's total work experience (in years).                                  |
| `company_size`           | The number of employees at the student's current employer.                       |
| `company_type`           | The type of company employing the student.                                       |
| `last_new_job`           | The number of years between the student's current and previous jobs.             |
| `training_hours`         | The number of hours of training completed.                                       |
| `job_change`             | An indicator of whether the student is looking for a new job (`1`) or not (`0`). |

In [183]:
# Import necessary libraries
import pandas as pd

# Load the dataset
ds_jobs = pd.read_csv("customer_train.csv")

# View the dataset
ds_jobs.head(50)

    student_id      city  ...  training_hours job_change
0         8949  city_103  ...              36        1.0
1        29725   city_40  ...              47        0.0
2        11561   city_21  ...              83        0.0
3        33241  city_115  ...              52        1.0
4          666  city_162  ...               8        0.0
5        21651  city_176  ...              24        1.0
6        28806  city_160  ...              24        0.0
7          402   city_46  ...              18        1.0
8        27107  city_103  ...              46        1.0
9          699  city_103  ...             123        0.0
10       29452   city_21  ...              32        1.0
11       23853  city_103  ...             108        0.0
12       25619   city_61  ...              23        0.0
13        5826   city_21  ...              24        0.0
14        8722   city_21  ...              26        0.0
15        6588  city_114  ...              18        0.0
16        4167  city_103  ...             106        0.0
17        5764   city_21  ...               7        0.0
18        2156   city_21  ...              23        1.0
19       11399   city_13  ...             132        1.0
20       31972  city_159  ...              68        0.0
21       19061  city_114  ...              50        0.0
22        6491  city_102  ...              48        0.0
23        7041   city_40  ...              65        0.0
24       22767   city_21  ...              13        0.0
25       14505   city_67  ...              22        0.0
26       17139   city_21  ...             148        1.0
27       28476  city_103  ...              72        0.0
28       21538  city_100  ...               8        1.0
29       10408   city_21  ...              68        1.0
30       14928  city_103  ...              40        0.0
31       22293  city_103  ...             141        0.0
32        4324  city_103  ...              24        0.0
33       26966  city_160  ...              82        0.0
34       26494   city_16  ...             145        0.0
35        4866  city_103  ...             206        0.0
36       12726  city_114  ...             152        0.0
37       10164  city_114  ...              42        1.0
38        8612  city_103  ...              50        0.0
39       24659   city_71  ...             106        0.0
40        2547  city_114  ...              14        0.0
41       13854  city_104  ...              36        0.0
42       31654   city_21  ...             112        1.0
43       13643   city_64  ...             108        0.0
44        5590   city_21  ...               7        1.0
45       22452   city_21  ...              26        1.0
46        9006   city_21  ...              87        1.0
47       25987  city_103  ...              52        1.0
48        4476  city_101  ...              20        1.0
49       25103   city_83  ...              21        0.0

[50 rows x 14 columns]

In [184]:
# Create a copy of ds_jobs for transforming
ds_jobs_transformed = ds_jobs.copy()

In [185]:
#Initial Data Exploration
print(ds_jobs_transformed.info())
print(ds_jobs_transformed.dtypes)
print(ds_jobs_transformed.isna().sum())
print(ds_jobs_transformed.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevant_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  job_change              19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB
None
student_id                  int64
city                       object
city_development_index    float64
gender                     object
relevant_experience        object
enrolled_university        object
education_level            object
major_discipline           object
experience                 object
company_size               object
company_type               object
last_new_job               object
training_hours              int64
job_change                float64
dtype: object
student_id                   0
city                         0
city_development_index       0
gender                    4508
relevant_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
last_new_job               423
training_hours               0
job_change                   0
dtype: int64
         student_id  city_development_index  training_hours    job_change
count  19158.000000            19158.000000    19158.000000  19158.000000
mean   16875.358179                0.828848       65.366896      0.249348
std     9616.292592                0.123362       60.058462      0.432647
min        1.000000                0.448000        1.000000      0.000000
25%     8554.250000                0.740000       23.000000      0.000000
50%    16982.500000                0.903000       47.000000      0.000000
75%    25169.750000                0.920000       88.000000      0.000000
max    33380.000000                0.949000      336.000000      1.000000

In [186]:
# Display value counts for object-type columns for exploratory data analysis
object_cols = ds_jobs_transformed.select_dtypes(include='object').columns
for column in object_cols:
    print(ds_jobs_transformed[column].value_counts(), '\n')

city_103    4355
city_21     2702
city_16     1533
city_114    1336
city_160     845
            ...
city_129       3
city_111       3
city_121       3
city_140       1
city_171       1
Name: city, Length: 123, dtype: int64

Male      13221
Female     1238
Other       191
Name: gender, dtype: int64

Has relevant experience    13792
No relevant experience      5366
Name: relevant_experience, dtype: int64

no_enrollment       13817
Full time course     3757
Part time course     1198
Name: enrolled_university, dtype: int64

Graduate          11598
Masters            4361
High School        2017
Phd                 414
Primary School      308
Name: education_level, dtype: int64

STEM               14492
Humanities           669
Other                381
Business Degree      327
Arts                 253
No Major             223
Name: major_discipline, dtype: int64

>20    3286
5      1430
4      1403
3      1354
6      1216
2      1127
7      1028
10      985
9       980
8       802
15      686
11      664
14      586
1       549
<1      522
16      508
12      494
13      399
17      342
19      304
18      280
20      148
Name: experience, dtype: int64

50-99        3083
100-499      2571
10000+       2019
10-49        1471
1000-4999    1328
<10          1308
500-999       877
5000-9999     563
Name: company_size, dtype: int64

Pvt Ltd                9817
Funded Startup         1001
Public Sector           955
Early Stage Startup     603
NGO                     521
Other                   121
Name: company_type, dtype: int64

1        8040
>4       3290
2        2900
never    2452
4        1029
3        1024
Name: last_new_job, dtype: int64

In [187]:
# Define ordered categorical data for specific columns
ordered_categories = {
    'enrolled_university': ['no_enrollment', 'Part time course', 'Full time course'],
    'education_level': ['Primary School', 'High School', 'Graduate', 'Masters', 'Phd'],
    'experience': ['<1'] + list(map(str, range(1, 21))) + ['>20'],
    'company_size': ['<10', '10-49', '50-99', '100-499', '500-999', '1000-4999', '5000-9999', '10000+'],
    'last_new_job': ['never', '1', '2', '3', '4', '>4']
}

# Define mappings for converting two-factor categorical data to boolean
boolean_mappings = {
    'relevant_experience': {'No relevant experience': False, 'Has relevant experience': True},
    'job_change': {0.0: False, 1.0: True}
}

# Update data types for the DataFrame columns
for column in ds_jobs_transformed.columns:
    if column in boolean_mappings:
        ds_jobs_transformed[column] = ds_jobs_transformed[column].map(boolean_mappings[column])
        ds_jobs_transformed[column] = ds_jobs_transformed[column].astype('bool')
    elif column in ['student_id', 'training_hours']:
        ds_jobs_transformed[column] = ds_jobs_transformed[column].astype('int32')
    elif column == 'city_development_index':
        ds_jobs_transformed[column] = ds_jobs_transformed[column].astype('float16')
    elif column in ordered_categories:
        ds_jobs_transformed[column] = ds_jobs_transformed[column].astype(pd.CategoricalDtype(ordered_categories[column], ordered=True))
    else:
        ds_jobs_transformed[column] = ds_jobs_transformed[column].astype('category')
        
# Display data types of columns after transformation
print(ds_jobs_transformed.dtypes)

# Filter data for students with 10 or more years of experience and companies with at least 1000 employees
ds_jobs_transformed = ds_jobs_transformed[
    (ds_jobs_transformed['experience']>= '10') & 
    (ds_jobs_transformed['company_size']>= '1000-4999')
]

student_id                   int32
city                      category
city_development_index     float16
gender                    category
relevant_experience           bool
enrolled_university       category
education_level           category
major_discipline          category
experience                category
company_size              category
company_type              category
last_new_job              category
training_hours               int32
job_change                    bool
dtype: object

In [188]:
# Comparision between ds_jobs and ds_jobs_transformed
print(ds_jobs.info())
print(ds_jobs_transformed.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevant_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  job_change              19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2201 entries, 9 to 19143
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              2201 non-null   int32
 1   city                    2201 non-null   category
 2   city_development_index  2201 non-null   float16
 3   gender                  1821 non-null   category
 4   relevant_experience     2201 non-null   bool
 5   enrolled_university     2185 non-null   category
 6   education_level         2184 non-null   category
 7   major_discipline        2097 non-null   category
 8   experience              2201 non-null   category
 9   company_size            2201 non-null   category
 10  company_type            2144 non-null   category
 11  last_new_job            2184 non-null   category
 12  training_hours          2201 non-null   int32
 13  job_change              2201 non-null   bool
dtypes: bool(2), category(9), float16(1), int32(2)
memory usage: 69.5 KB
None